@{
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div>
        <a href="/user/">@ViewData["ClickHereToRegister"]</a>

    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
